html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body,
.container {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */ 
    font-family: 'Abel', sans-serif;
    font-size: 26px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Lobster', cursive;
    font-weight: 300;
    font-size: 2.5em;
    margin: 0;
    margin-top: 1em;
}



h2 {
    font-family: 'Lobster', cursive;
    font-weight: 500;
    font-size: 2em;
}

header {
    text-align: center;
}

.left-container {
    margin-top: 10vh;
    height: 30%;
    order: 1;
}

.right-container {
    height: 70%;
    order: 2;
}

/*
 * Styles for the deck of cards
 */

.deck {
    z-index: 0;
    width: 80vw;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 4vw;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.deck .card {
    width: 20%;
    z-index: 1;
    margin: 2%;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    transition: all 0.2s ease-in-out;
}

.deck .card:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 40px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

/*
* Disable click events
*/
.deck .card.disable {
    pointer-events: none;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 1em;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .timer {
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
    margin-left: 50px;
}

.score-panel .restart .fa {
    font-size: 40px;
}


.ratingText {
    display: inline-block
}

.finalRating li {
    list-style: none;
    display: inline-block;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    max-height: 60%;
    z-index: 10;
    margin: auto;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    background: linear-gradient(200deg, #ccff66 0%, #99ffcc 100%);;
    text-align: center;
    display: none;
    cursor: pointer;
    padding: 1em;
}


@media only screen and (orientation: landscape) {
    .container {
        flex-direction: row;
    }
    .left-container {
        width: 20%;
        margin: auto;
        position: relative;
        left: 0;
    }

    .right-container {
        position: relative;
        right: 0;
        height: 100%;
        width: 70%;
    }

    .deck {
        width: 80vh;
        margin-top: 10vh;
    }
    
    .timer {
        display: block;
    }

    .score-panel .restart {
        position: fixed;
        display: block;
        top: 10vh;
        margin-left: 0;
        float: left;
    }

    .modal h2, p, div {
        margin-top: 4px;
        margin-bottom: 4px;
    }
    
    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.5em;
    }

    body {
        font-size: 1.2em;
    }
}

@media only screen and (min-device-width: 601px) and (max-device-width: 1000px) and (orientation: portrait) {
    .modal {
        width: 40%;
    }
}

@media only screen and (min-device-width: 768px) and (orientation: landscape) {
    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 40px;
    }

    .modal {
        width: 25%;
    }
}